<% title "Scanner Settings" %>
<table cellspacing="2" cellpadding="4">
  <tr style="text-align:left; vertical-align:bottom">
    <th>Setting</th>
    <th>Value</th>
  </tr>
  <% for setting in @settings %>
    <tr>
      <td><%= setting.name %></td>
      <td><%= setting.value %></td>
    </tr>
  <% end %>
</table>

