<p>
  <b>Name:</b>
  <%= @task.name %>
</p>
<p>
  <b>Comment:</b>
  <%= @task.comment %>
</p>
<p>
  <b>Scan Config:</b>
	<%= collection_select(:task, :config_id, ScanConfig.selections(current_user), :id, :name, {}, {:disabled => true}) %>
</p>
<p>
 <b>Scan Target:</b>
	<%= collection_select(:task, :target_id, ScanTarget.selections(current_user), :id, :name, {}, {:disabled => true}) %>
</p>
